body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: white;
}

.heading {
    text-align: center;
    padding: 15px;
    background: white;
    color: black;
}

.container {
    display: flex;
    gap: 30px;
    padding: 40px;
    justify-content: center;
}

/* Left Card */
.card {
    background: white;
    color: black;
    padding: 20px;
    width: 280px;
    border-radius: 5px;
}

.card input,
.card textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
}

.card button {
    width: 100%;
    padding: 10px;
    background: #28a745;
    border: none;
    color: white;
    cursor: pointer;
}

/* Right Task List */
.task-section {
    width: 500px;
}

.task-header,
.task {
    display: grid;
    grid-template-columns: 1fr 2fr 80px;
    gap: 10px;
    align-items: center;
}

.task-header {
    border-bottom: 2px solid white;
    padding-bottom: 10px;
    font-weight: bold;
}

.task {
    background: white;
    color: black;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

.delete-btn {
    background: red;
    color: white;
    border: none;
    padding: 6px;
    cursor: pointer;
}
