body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

.container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 30px;
    margin-top: 40px;
    border-radius: 10px;
}

h1, h3 {
    text-align: center;
}

img {
    display: block;
    margin: 20px auto;
    width: 250px;
    border-radius: 10px;
}

.content p {
    text-align: justify;
    line-height: 1.6;
}

h2 {
    margin-top: 30px;
    color: #333;
}

ul {
    margin-left: 20px;
}

blockquote {
    margin-top: 20px;
    padding: 15px;
    background: #eee;
    border-left: 5px solid #555;
    font-style: italic;
}
